<ul class="navbar" id="navbar">
    <li><a href="/ui/home" class="{% if component == 'home' %} active {% endif %}">
        home
    </a></li>
    <li><a href="/ui/env" class="{% if component == 'env' %} active {% endif %}">
        env
    </a></li>
    <li><a href="/ui/projects" class="{% if component == 'projects' %} active {% endif %}">
        projects
    </a></li>
    <li style="float:right">
        <a href="/ui/info">
            Info
        </a>
    </li>
    <!--
    <li style="float:right">
        <a id="startstop" href="#" onclick="alert('Startstop')">
            Start/Stop
        </a>
    </li>
    -->
    <!--<li style="float:right"><a href="#about">Info</a></li>-->
</ul>