<h1>Licenses</h1>

The following packages and their respective licences and links to their detailed texts are listed below.

<h2>Python-Packages</h2>
<ul>
    <li>
        <b>Flask-SocketIO</b>
        <a href="https://github.com/miguelgrinberg/Flask-SocketIO/blob/main/LICENSE">
            MIT License (2014)
        </a>
        <br>
        Sources are unchanged.
    </li>
    <li>
        <b>python-socketio</b>
        <a href="https://github.com/miguelgrinberg/python-socketio/blob/main/LICENSE">
            MIT License (2015)
        </a>
        <br>
        Sources are unchanged.
    </li>
    <li>
        <b>werkzeug</b>
        <a href="https://github.com/pallets/werkzeug/blob/main/LICENSE.rst">
            BSD 3-Clause
        </a>
        <br>
        Sources are unchanged.
    </li>
    <li>
        <b>flask</b>
        <a href="https://github.com/pallets/flask/blob/main/LICENSE.rst">
            BSD 3-Clause
        </a>
        <br>
        Sources are unchanged.
    </li>
    <li>
        <b>rclpy</b>
        <a href="https://github.com/ros2/rclpy/blob/master/LICENSE">
            Apache License 2.0
        </a>
        <br>
        Sources are unchanged.
    </li>
</ul>

<h2>JavaScript-Packages</h2>
<ul>
    <li>
        <b>socket.io</b>
        <a href="https://github.com/socketio/socket.io/blob/master/LICENSE">
            MIT License
        </a>
        <br>
        Sources are unchanged.
    </li>
    <li>
        <b>jQuery</b>
        <a href="https://github.com/jquery/jquery/blob/main/LICENSE.txt">
            MIT License
        </a>
        <br>
        Sources are unchanged.
    </li>
    <li>
        <b>vis-network</b>
        <a href="https://github.com/visjs/vis-network/blob/master/LICENSE-APACHE-2.0">
            Apache License 2.0
        </a>
        <br>
        Sources are unchanged.
    </li>
</ul>

<h2>ros2_ui-Version</h2>
<span style="">{{ uiargs.version }}</span>